<!DOCTYPE html>
<html>
<head>
  <title>4 op een rij</title>
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
  <h1>4 op een rij</h1>
  <py-script>


    import tkinter as tk
    from tkinter import *
    
    def select(event):
        global canvas, board, plyr, p1, p2, gameText, newGameButton
        row = 0
        col = -1
        nums = ['0','1','2','3','4','5','6']
        tags = canvas.gettags(CURRENT)
    
        if not tags:
            return
        
        for s in tags:
            if s in nums:
               col = int(s)
        while row < 5:
            piece = board[row+1][col]
            cur_tags = canvas.gettags(piece)
            
            if p1 not in cur_tags and p2 not in cur_tags:
                row+=1
            else:
                break
        
        canvas.itemconfig(board[row][col], fill=plyr)
        canvas.itemconfig(board[row][col], tags=(plyr))
        checkWin(row, col, vertical)
        if not gameOver:
            checkWin(row, col, horizontal)
        if not gameOver:
            checkWin(row, col, downRight)
        if not gameOver:
            checkWin(row, col, upRight)
        
        draw = True
        for piece in board[0]:
            cur_colors = canvas.gettags(piece)
            if p1 not in cur_colors and p2 not in cur_colors:
                draw = False
                break
    
        if gameOver:
            newText = plyr.upper() + " HEEFT GEWONNEN!!!"
            canvas.tag_bind("piece", '<Button-1>', '')
            newGameButton.pack()
        elif draw:
            newText = "GELIJKSPEL"
            canvas.tag_bind("piece", '<Button-1>', '')
            newGameButton.pack()
        else:
            if plyr == p1:
                plyr = p2
            else:
                plyr = p1
            newText = plyr.upper() + " IS AAN DE BEURT"
    
        canvas.itemconfig(gameText, fill=plyr, text=newText)
        
    def checkWin(row, col, dir):
        global gameOver, board, canvas, plyr, winCoords
        count = 0
        startCoords=[]
        endCoords=[]
        
        if dir == vertical:
            for i in range(3):
                if row < 5:
                    row+=1
                else:
                    break
            for j in range(6):
                p = board[row][col]
                if plyr in canvas.gettags(p):
                    count+=1
                    if count==1:
                        startPoint = canvas.coords(p)
                    if count==4:
                        addLineCoords(startPoint, "start")
                        addLineCoords(canvas.coords(p),"end")
                        gameOver = True
                else:
                    count=0
                if row-1 >= 0:
                    row-=1
                else:
                    break
        
       
        elif dir == horizontal:
            for i in range(3):
                if col < 6:
                    col+=1
                else:
                    break
            for j in range(7):
                p = board[row][col]
                if plyr in canvas.gettags(p):
                    count+=1
                    if count==1:
                        startPoint = canvas.coords(p)
                    if count==4:
                        addLineCoords(startPoint, "start")
                        addLineCoords(canvas.coords(p), "end")
                        gameOver = True
                else:
                    count=0
                if col-1 >= 0:
                    col-=1
                else:
                    break
        
        
        elif dir == downRight:
            for i in range(3):
                if col < 6 and row < 5:
                    col += 1
                    row += 1
                else:
                    break
            for k in range(6):
                p = board[row][col]
                if plyr in canvas.gettags(p):
                    count += 1
                    if count == 1:
                        startPoint = canvas.coords(p)
                    if count == 4:
                        addLineCoords(startPoint, "start")
                        addLineCoords(canvas.coords(p), "end")
                        gameOver = True
                else:
                    count = 0
                if col-1 >= 0 and row-1 >= 0:
                    col -= 1
                    row -= 1
                else:
                    break
        
        elif dir == upRight:
            for i in range(3):
                if col > 0 and row < 5:
                    col -= 1
                    row += 1
                else:
                    break
            for j in range(6):
                p = board[row][col]
                if plyr in canvas.gettags(p):
                    count+=1
                    if count==1:
                        startPoint = canvas.coords(p)
                    if count==4:
                        addLineCoords(startPoint, "start")
                        addLineCoords(canvas.coords(p), "end")
                        gameOver = True
                else:
                    count=0
                if col+1 <=6 and row-1 >= 0:
                    col+=1
                    row-=1
                else:
                    break
        
        if gameOver:
            canvas.create_line(winCoords["x1"], winCoords["y1"], winCoords["x2"], winCoords["y2"], fill="#FCFCFC", width="3p", arrow=tk.BOTH)
    
    def addLineCoords(coords, pos):
        global winCoords
        if pos == "start":
            winCoords["x1"] = (coords[0] + coords[2]) / 2
            winCoords["y1"] = (coords[1] + coords[3]) / 2
        elif pos == "end":
            winCoords["x2"] = (coords[0] + coords[2]) / 2
            winCoords["y2"] = (coords[1] + coords[3]) / 2
    
    def newGame():
        global canvas, newGameButton,colors, p1,p2
        colors = ["red","yellow"]
        p1 = ''
        p2 = ''
        canvas.delete("all")
        newGameButton.pack_forget()
        showColorOptions("1")
    
    def setupBoard():
        global gameOver, canvas, gameText, board, plyr
        
        canvas.delete(ALL)
        board=[]
        gameText=""
        gameOver=False
        plyr = p1
        colStart = 55
        rowStart = 50
        rowPos = rowStart
        colPos = colStart
        for x in range(6):
            new_list=[]
            for y in range(7):
                spot = canvas.create_oval(colPos, rowPos, colPos+45, rowPos+45, fill="white", tags=("piece",y))
                colPos += 55
                new_list.append(spot)
            rowPos += 50
            colPos = colStart
            board.append(new_list)
        canvas.tag_bind("piece", '<Button-1>', select)
        gameText = canvas.create_text(250, rowPos + 65, fill=plyr, font='Arial 20 bold', text=plyr.upper() + " IS AAN DE BEURT")
        canvas.pack()
    
    def pickColor(event):
        global p1, p2, gameText, colors
        if p1 == '':
            p1 = canvas.gettags(CURRENT)[0]
            colors.remove(p1)
            canvas.delete(colors[-1])
            canvas.delete(p1)
            showColorOptions("2")
        elif p2 == '':  
            p2 = canvas.gettags(CURRENT)[0]
            setupBoard()
    
    def showColorOptions(p):
        global colors, gameText
        if p == "1":
            gameText = canvas.create_text(250, 300, font='Arial 20 bold', text="Speler " + p + " - Kies uw kleur")
        else:
            canvas.itemconfig(gameText, text="Speler " + p + " - Kies uw kleur")
        startX = 65
        startY = 150
        for color in colors:
            option = canvas.create_oval(startX, startY, startX+45, startY+45, fill=color, tags=color)
            canvas.tag_bind(color, '<Button-1>', pickColor)
            startX+=80
        
        
    root = tk.Tk()
    root.title("4 op een rij")
    root.geometry('500x550')
    
    
    vertical = 1
    horizontal = 2
    downRight = 3
    upRight = 4
    
    
    winCoords = {}
    gameOver = False
    p1 = ''
    p2 = ''
    plyr=p1
    board = []
    colors = []
    canvas = Canvas(root, width=500, height=500, bg="#DCDCDC")
    canvas.pack()
    gameText = canvas.create_text(250, 300, font='Arial 20 bold', text="Speler 1 - kies uw kleur")
    newGameButton = Button(root, text="Opnieuw spelen", command=newGame, justify=CENTER)
    newGame()
    root.mainloop()
    

  </py-script>
</body>
</html>
